<div class="container-nav">
  <div class="description">
    <div class="profile-image">
      <img src="./assets/img/profile-img.png" alt="profile">
    </div>
    <p>Jake Jason</p>
  </div>
   <ul class="links">
     <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i>Home</a>
     <a routerLink="/rent" routerLinkActive="active"><i class="fas fa-betamax"></i>Rent</a>
     <a routerLink="/messages" routerLinkActive="active"><i class="fas fa-envelope"></i>Messages</a>
     <a routerLink="/profile" routerLinkActive="active"><i class="fas fa-user"></i>Profile</a>
   </ul>
   <div class="bottom">
    <a routerLink="/settings" routerLinkActive="active"><i class="fas fa-cog"></i>Setings</a>
    <a routerLink="/log-out" routerLinkActive="active">Logout</a>
   </div>
</div>