<div class="container-home">
  <div class="top">
    <div class="menu">
      <img src="./assets/icon/hamburger.png" alt="menu" (click)="menu()">
    </div>
    <div class="location">
      <p>Location</p>
      <div class="location-detail">
        <i class="fas fa-map-marker-alt"></i>
        <p><span class="city">Rome</span>, Italy</p>
      </div>
    </div>
    <div class="profile">
      <img src="./assets/img/profile-img.png" alt="profile">
    </div>
  </div>
  <div class="middle">
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search..">
      <img src="./assets/icon/filter-icon.png" alt="filter">
    </div>
    <div class="category">
      <app-category></app-category>
    </div>
    <div class="post">
      <app-post></app-post>
      <app-post></app-post>
      <app-post></app-post>
    </div>
  </div>
</div>